@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
:root{
    font-family: 'Prompt', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 254, 249);
}
div.container{
    width: 100%;
}
div.head{
    text-align: center;
    padding-top: 1%;
}
h2{
    font-size: 2em;
    color:#EF0091;
}
div.content{
    padding:0 40%;
}
img{
    width: 15%;
    border-radius: 50%;
}
span{
    font-weight: bold;
    color: deeppink;
}