/* .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 10px 70px;
    padding: 15px;
} */