
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    color: white;
    padding: 1.5rem 2rem;
    height: 5rem;
    background-color: black;
}





