.with-products{
    display: flex;
    justify-content: flex-end;
    /*box-shadow: rgba(0,0,0,0.06) 0px 1px 4px;*/
    margin: 10px 80px;
    padding: 10px;
}
.without-products{
    padding-top: 20px;
}
.total-price{
    margin: 20px 0 10px 10px;
    padding: 10px 10px;
}