header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 25px;
    height: 70px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
}