.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0,0,0,0.06) 0px 1px 4px;
    border-radius: 5px;
    margin: 10px 80px;
    padding: 10px;
}
img{
    width: 150px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}
.name{
    width: 300px;
    margin-right: 10px;
}
.quantity{
    margin-left: 60px;
}
input{
    border: none;
    text-align: center;
    width: 32px;
    font-size: 15px;
}
button{
    border: none;
    background: rgb(0, 79, 101);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
}
.remove-btn{
    background: rgb(219, 18, 18);
}
button:hover{
    opacity:calc(0.7) ;
}
.price{
    width: 20%;
}