.App{
  min-height: 100vh;
}

.container{
  background: #fff;
  padding: 1.2rem;
  margin: 3rem auto;
  max-width: 35rem;
  border: 1px solid rgba(0,0,0,0.2);
}

.light{
  background: #fff;
  color: black;
  transition: all 500ms;
}

.dark{
  background: rgb(44, 44, 44);
  color: #fff;
  transition: all 500ms;
}