h2{
    text-align: center;
}
.form-control{
    display: flex;
    justify-content: center;
}
.text-input{
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 18px;

}
.text-input:focus{
    outline: none;
}
.submit-btn{
    cursor: pointer;
    background-color: #00e217;
    border: transparent;
}