body {
  margin: 0;
  margin-bottom: 50%;
}

.form {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  margin: 5% 5%;
  padding: 2% 2%;
  min-width: 300px;
  position: relative;
}

#head{
  padding-top: 2%;
  padding-bottom: 2%;
}

#header-word {
  font-weight: bold;
  font-size: 22px;
}

#detail-header {
  font-weight: light;
  font-size: 2vh;
  margin-bottom: 0%;
  color: #919192;
  font-weight: bold;
}

#Box-content {
  width: 96%;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  margin-top: -2%;
}

#detail {
  font-weight: light;
  width: 100%;
  border-bottom-style: solid;
  padding-bottom: 1px;
  border-bottom-width: 1.5px;
  border-color: #e2e2e2;
  font-size: 3vh;
  margin-bottom: 0.7rem;
}

.form {
  margin-bottom: 0.5rem;
}

#input-detail {
  width: 100%;
  background-color: white !important;
}

#summary-box {
  background-color: #f5f5f5;
  width: 100%;
  padding: 5%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  min-width: 300px;
  z-index: 1;
  align-items: center;
}

#summary-text {
  font-size: 120%;
  font-weight: lighter;
}

#add-place {
  margin-top: 4%;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}

#detail-weight-transportation {
  margin-top: 5%;
  margin: 5% 5%;
  min-width: 300px;
}

#add-extra {
  margin: 5% 5%;
  margin-top: 8%;
  min-width: 300px;
}

#deal-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 120%;
}
