@media (max-height: 700px) {
  #content3 {
    position: relative;
  }
}

body {
  min-width: 350px;
}
#head {
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
  min-height: 90px;
  height: 17vh;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: 600;
  position: relative;
}
#settingIcon {
  position: relative;
  left: 30%;
}
#locetion {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0.6em;
  width: 80%;
  height: 1.5em;
  box-shadow: 2px 3px 5px #00000030;
  border-radius: 0.5em;
  margin: auto;
  top: -2.5em;
  background-color: #fff;
}
#locetion p {
  white-space: nowrap;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 100%;
  font-weight: 500;
}
#content1 {
  max-width: 85%;
  margin: auto;
  margin-top: -2vh;
}
#content2 {
  max-width: 85%;
  margin: auto;
  margin-top: 2vh;
}
#content3 {
  max-width: 85%;
  min-width: 85%;
  margin: auto;
  display: box;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#content2 hr {
  background-color: #fff;
  border: 0.5px solid #ddd;
  margin: 2px;
}
#head-content1 {
  display: flex;
  font-size: 1.25em;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#head-content1 a {
  color: black;
  display: flex;
  font-size: 0.75em;
  font-weight: 400;
}
#head-content3 {
  font-size: 1.25em;
  font-weight: 800;
  width: 100%;
  margin: 0px;
}
#sub-head-content3 {
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  margin: 0px;
}
#card {
  margin-top: 10px;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 0.5em;
  border: 0px;
  justify-content: space-between;
}
#card .p1 {
  font-weight: 800;
  font-size: 12px;
  margin: 2px 0px -3px 0px;
}
#card .p2 {
  font-weight: 600;
  font-size: 16px;
  margin: -3px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#card .p3 {
  font-size: 12px;
  margin: -3px 0px 2px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#card .p4 {
  font-size: 15px;
  margin: -3px 0px 2px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#card .hp {
  color: hsl(32, 100%, 59%);
  margin: 0px;
  font-weight: 600;
  font-size: 15px;
}
#card .hs {
  color: hsl(147, 36%, 58%);
  margin: 0px;
  font-weight: 600;
  font-size: 15px;
}
#card .h {
  margin: 0px;
}
#card .MuiBox-root.css-0 {
  display: flex;
  justify-content: space-between;
}
#image {
  border: 1.5px solid #00000070;
  display: flex;
  width: 18vw;
  height: 18vw;
  max-width: 50px;
  max-height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 10px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#image
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 2.3em;
  transform: translateY(-0.09em);
}
#car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 5.1em;
  border: 0px;
}
#car p {
  font-weight: 700;
  font-size: 90%;
  display: flex;
  justify-content: center;
  margin: 0px;
}
.top-hr {
  border: 0.1px solid #292929;
  transform: translateY(-2.8em);
}
