#nav {
  background-color: black;
  color: white;
  display: flex;
  font-size: 140%;
  width: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
  top: 0;
  min-width: 300px;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding: 15% 5% 5% 0%;
}

Button{
    color:rgb(255, 255, 255);
}
