.container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 1px 4px grey;
    border-radius: 5px;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

label{
    font-size: 20px;
    margin-right: 5px;
}

input{
    font-size: 18px;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px;
}

input:focus{
    outline: none;
}

.btn-add{
    font-size: 18px;
    padding: 7px 10px;
    margin: 10px;
    background: rgb(158, 232, 158);
    color: black;
}

select{
    font-size: 18px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
}