.MuiCardContent-root.css-46bh2p-MuiCardContent-root{
    border: 1px solid #7b7b7b;
    border-radius: 15px;
    margin: 15px;
    box-shadow: -3px 3px 5px 1px #00000036;
    min-width: 250px;
    width: 300px;
}