.head_table {
  background-image: linear-gradient(
    to right,
    rgb(51, 0, 255),
    rgb(195, 0, 255)
  );
}
th.MuiTableCell-root.MuiTableCell-head {
  color: #fff;
  text-shadow: -2px 2px 3px#00000070;
  font-size: 15px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: rgb(51, 0, 255);
  margin: 20px;
  box-shadow: -3px 3px 7px 1px #00000050;
  text-shadow: -2px 2px 3px#000000bd;
}
h6.MuiTypography-root.MuiTypography-h6.MuiTypography-gutterBottom.css-18k87ye-MuiTypography-root {
  font-size: 25px;
  margin: 20px;
  text-shadow: -2px 2px 3px#00000070;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover{
    background-color: blue;
    color: white;
}
