.blogs-container{
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
}
.card{
    color: #333;
}
.search-container{
    margin: 30px;
}
.search-input{
    padding: 1em 1em;
    width: 96%;
    font-size: 18px;
}
.search-input:focus{
    outline: none;
}
.topic{
    background-color: #333;
    color: white;
    padding: 6px;
    font-size: 20px;
    padding-left: 20px;
}