.blog-image{
    width: auto;
    height: 300px;
}
.title{
    
    padding: 20px;
    width: 400px;
    
}
.container h2{
    color:#333;
    margin-bottom: 50px;
}
.blog-detail{
    padding-left: 200px;
    padding-right: 150px;
    padding-top: 50px;
}
