    @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .content {
        max-width: 100%;
        text-align: center;
        font-size: 25px;
        background-color: #ffeeb3;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 4em;
    }
    
    .calculator {
        margin-top: 3em;
        background-color: #b8e7e1;
        border: 5px solid #d4fafc;
        padding: 2em;
    }
    
    .calculator button {
        padding: 10px;
        background-color: #d4fafc;
        border-radius: 5px;
        border: 1px solid #ffeeb3;
        font-size: 15px;
        margin-top: 2em;
    }
    
    .calculator button:hover {
        background-color: #ffeeb3;
    }
    
    .calculator input,
    select {
        text-align: center;
        height: 40px;
        margin: 10px;
        width: 200px;
        font-size: 25px;
    }