/* *{
padding: 0;
margin: 0;

}
body{
    background-color: #DDDBDB;
}
img{
    margin: center;
    height:auto;
    width: 300px;
    border-radius:50%;
    margin-left: 5%;
    box-shadow: 10px 10px 10px 3px grey;

}

div{
    margin: 3%;
    padding-left: 100px;
    
}
h2{
    font-weight: 100px;

}
.name{
    font-size:50px;
    font-weight:bolder;
}
.boxImg{

    background-color: #BD97CB;
}
.boxname{
    padding: 10%;
    background-color:#F8D210 ;
    border-left: 15px solid;
    height: 400px;
    padding-right: 30px;
    
}
.topicskill{
    background-color: #4E4F50;
    border-left: 5px solid ;
    color: white;
    padding-left: 20px;
    width: 200px;
}
.topicHobby{
    background-color: #4E4F50;
    border-left: 5px solid ;
    color: white;
    padding-left: 20px;
    width: 200px;
} */
