.App{
  min-height: 100vh;
}
.container{
  padding: 1.2rem;
  margin: 3rem auto;
  max-width: 35rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: #fff;
}
li{
  list-style-type: none;
}
.light{
  background-color:  #F1F6F9;;
  color: #000;
  transition: 0.2s;
  min-height: 100vh;
}
.dark{
  background-color: #2D2727;
  transition:0.2s;
  min-height: 100vh;
}
