h2{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}
.form-control{
    display: flex;
    justify-content: center;
}
.addname{
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    border: 1px solid #d5dbd9;
    transition: all 0.2s ease;
}
.submit-btn{
    background-color: #C9A7EB;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}