* {
    margin: 0;
}

.header {
    background-image: url("./public/bg-book-flight.jpg");
    object-fit: contain;
    width: 100%;
    height: 35vh;
    border-radius: 0 0 0 45px;
    /* background-repeat: no-repeat; */
    margin: 0;
}

.txt-header {
    padding: 5.5em 0em 0em 1em;
    color: white;
    position: absolute;
    left: 8%;
    top: -15%;
    font-size: 40px;
}

.container {
    border-radius: 0 50em 0 0;
    background-color: #02315E;
}

span {
    font-size: 18px;
    margin-left: 2em;
    font-weight: bold;
    color: #02315E;
    margin-bottom: 0;
}

p {
    font-weight: bold;
    color: #02315E;
    padding-right: 20px;
}

.box,
.box-1 {
    background: #e8f2f4ee;
    margin: 1.2em;
    padding: 0.5em;
    border-radius: 35px;
}

.box p {
    color: #02315E;
    display: inline;
}

.flex-box {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.btn-group {
    text-align: center;
    margin: 20px;
    border-radius: 3em;
    background-color: #e8f2f4ee;
}

.btn-group .btn:focus {
    font-weight: bold;
    background: #6b9dae;
    padding: 10px;
    width: 50%;
    border-radius: 3em;
    color: white;
}

.btn-group .btn:hover {
    color: white;
    background-color: #6b9dae;
}

.btn-group .btn.active {
    font-weight: bold;
    background: #6b9dae;
    padding: 10px;
    width: 50%;
    border-radius: 3em;
    color: white;
}

.btn-group .btn {
    font-weight: bold;
    color: #02315E;
    background: #eeee;
    padding: 10px;
    width: 50%;
    border-radius: 3em;
}

.btn-group .btn:hover,
.btn-search:hover {
    background-color: #FFD802;
    color: #02315E;
}

.content .btn-search:hover {
    background-color: #FFD802;
    color: #02315E;
}

.img-plane {
    width: 120px;
    float: right;
    position: absolute;
    left: 65%;
    top: 10%;
    transform: rotate(-49deg);
}

@media screen and (min-width: 100px) {
    .content .btn-search {
        display: flex;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        border-radius: 5em;
        background: #6b9dae;
        width: 90%;
        justify-content: center;
        margin: auto;
        color: white;
    }
}

@media screen and (min-width: 720px) {
    .content .btn-search {
        display: flex;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        border-radius: 5em;
        background: #6b9dae;
        width: 50%;
        justify-content: center;
        margin: auto;
        color: white;
    }
    .sub-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}