nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.logo{
    margin-right: auto;
    padding-left: 10px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    margin-left: 12px;
    padding: 10px;
    font-size: 18px;
}

a:hover{
    color: orange;
}