@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  font-family: 'Roboto Mono', monospace;

}


body, html {
  margin: 0;
  padding: 0;  
  font-size: 2vw;
  box-sizing: border-box;
  background-color: #f5f6fb;
  
  
}

#root {
  background-color: #f5f6fb;
  padding: 5px;
  height: 100vh;
  min-width: 200px;
  max-width: 100%;
}

