.data-container {
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
}

.card {
    color: rgb(78, 78, 78);
}
.card p{
    color: rgb(78, 78, 78);
    font-size: 1rem;
}
.search-container {
    width: 100%;
    margin-top: 2rem;
}
.search-input {
    width: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    height: 2rem;
    padding: 1rem;
}

.search-input:focus {
    outline: none;
}