#root {
  overflow-x: hidden;
  margin: 0;
  padding: 0!important;
  min-width:300px;
  
}
.container{
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0!important;
  overflow-x: hidden;

}
