*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
  
  }
  
  .head{
      width: 100%;
      height: 90px;
  
  }
  .search{
      background-color: #ffff;
      height: 20px;
      border-radius: rem; flex: 1;
      border: none;
      font-size: 1.5rem;
      font-family: var(--font-raleway);
      font-weight: 500;
      padding-right: 1rem;
      outline: none;
      color: #a1a1a1;
     
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem 5rem;
      border-radius: 5%;
  }
  
  
  .container {
      width: 100%;
      margin-top: 3rem;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 3rem;
  }
  
  .test:focus{
      background-color: black;
  
  }
  
  
  img{
    max-width:  345px;
    min-height: 60px;
    height: 170px;
    width: 70%;
    border-radius: 3rem;
  }

    @media (max-width: 767px) {
        .Courses > div > div > div {
          padding-left: 8px !important;
          padding-right: 8px !important;
        }
    }
        
.Courses > div > div > div > div {
          flex-grow: 1 !important;
          max-width: none !
        }
  
  
  
  