.slide {
    background-color: black;
    background-image: url('../public/picture/slideShow1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 30px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
}
.textslide{
    color: white;
    text-align: left;
}
.slide p{
    color: #a6dee0;
    text-align: left;
}
.slide button{
    background-color: white;
    border: 0;
    padding: 9px;
    width: 15vh;
    border-radius: 20px;

}

