.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-shadow: #e0e0e0 2px 2px 3px;
}

.App-bar {
    background-color: #19a7ce;
}

.button {
    background-color: #19a7ce;
    color: white;
}

.button:hover {
    color: #19a7ce;
    background-color: #b5b5b5;
    outline: 1px solid #19a7ce;
}