.blogs-container{
    width: 96%;
    max-width: 1140px;
    margin: 0 auto;
}
.card{
    padding: 10px 10px;
    color: #333;
    border-bottom: 1px solid #ccc;
}
.card:hover{
    background: whitesmoke;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.search-container{
    margin: 30px 0;
}
.search-input{
    padding: 1em 1em;
    width: 96%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.search-input:focus{
    outline: none;
}