.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: #333;
    text-align: center;
}

img{
    width: 550px;
    height: auto;
}