.calculator {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.calculator input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: right;
  border: none;
  outline: none;
}

.calculator button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
}

.calculator .button-row {
  display: flex;
}

.calculator .clear-button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ccc;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}


.calculator-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-calculator {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-calculator form {
  display: flex;
  flex-direction: column;
}

.form-calculator .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-calculator label {
  margin-bottom: 5px;
}

.form-calculator input[type="number"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-calculator button[type="submit"] {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.form-calculator .result {
  margin-top: 20px;
  text-align: center;
}

.form-calculator .result p:first-child {
  font-weight: bold;
}

.form-calculator .result p:last-child {
  font-size: 24px;
  margin-top: 5px;
}