body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background: rgb(83, 71, 55);
  color : white;
  cursor:pointer;
  border:0px;
  border-radius: 5px;
  padding: 5px 10px;
}

a{
  text-decoration: none;
  color: black;
}

main{
  min-height: 90vh;
  max-width: 1200px;
  margin:auto;
  padding:10px;
}