.Graph {
    font-family: sans-serif;
    text-align: center;
    background-color: #27272D;
    color:white;
    padding: 4%;
    border-radius: 2rem;
    margin-bottom: 5%;
    position: relative;
    
  }
  