:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* min-height: 100vh; */
  font-size: 1.5vw;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* position: relative; */
  /* font-size: 3vw; */
}

.title {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  /* position: absolute; */
  /* z-index: 1; */
  margin-left: 2rem;
}

img {
  width: 70%;
}

