input[type="text"] {
  width: 20%;
  height: 2vmax;
  margin-left: 10px;
}

.ContentTextStyle {
  font-family: cursive;
  font-size: 10vmax;
  color: #ffb703;
  margin-bottom: 20px;
  text-shadow: 5px 5px black;
  max-width: 100%;
}

.ContentContainer {
  text-align: center;
  justify-content: center;
}

.FormContainer {
  text-align: center;
  justify-content: center;

}

.InputTextStyle {
  color: #ffb703;
  font-size: 2vmax;
  text-shadow: 1px 1px black;
}

.FormBorder {
  border: solid 0.2vw black;
  background-color: black;
  box-shadow: 5px 5px #ffb703;
  width: 100%;
  height: fit-content;
}

.OperatorContainer {
  margin-top: 20px;
  margin-bottom: 15px;
}