*{
    /* background-color: rgb(31, 30, 30); */
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
    box-sizing: border-box;
    
}

#root {
    height: 100%;
    /* background-color: rgb(31, 30, 30); */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
