@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.MuiStack-root.css-13bvbr1-MuiStack-root {
  background-color: #212121;
  border-radius: 2em;
  height: auto;
}
.calendar-wrapper {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.MuiTypography-root.MuiTypography-caption {
  color: #ffffff;
}
button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root {
  color: white;
}

button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-dayOutsideMonth.css-5m299p-MuiButtonBase-root-MuiPickersDay-root {
  color: gray;
}
button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root {
  background-image: linear-gradient(
    to right,
    rgb(146, 255, 210),
    rgb(255, 237, 117)
  );
}
.MuiPickersCalendarHeader-root.css-nk89i7-MuiPickersCalendarHeader-root {
  display: none;
}
.MuiBox-root.css-0 {
  width: 90%;
  background-color: #fff;
  border-radius: 20em;
  margin: auto;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
button.MuiPickersMonth-monthButton.Mui-disabled.css-bw88rr-MuiPickersMonth-monthButton {
  color: #fff;
  
}
button.MuiPickersMonth-monthButton.Mui-selected.css-bw88rr-MuiPickersMonth-monthButton{
  background-image: linear-gradient(
    to right,
    rgb(146, 255, 210),
    rgb(255, 237, 117)
  );
  color: #212121;
}
.MuiMonthCalendar-root.css-iyrai0-MuiMonthCalendar-root{
  position: relative;
  width: 90%;
  display: flex;
  margin: auto;
}
