.MuiBox-root .MuiAppBar-root{
  display: flex;
  justify-content: center;
  width: 98vw;
  height: 10vh;
  background-color: #212121;
  border-radius: 30em;
  align-items: center;
  position: fixed;
  top: 89%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 350px;
}
body{
  min-width: 350px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
  background-color: #fff;
  min-width: 7.3vh;
  min-height: 7.3vh;
  border-radius: 50em;
  color: #212121;
  margin: 2vh;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  color: #ffffff;
  margin: 2vh;
}